@import 'variables';

html,
body {
    width: 100%;
    height: 100%;
    color: #222;
}
// On Scroll Header
.navbar {
    width: 100%;
    left: 0;
    background-color: rgba(82, 64, 120, 0.9) !important;
    z-index: 24;
}

.container {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
}

.navbar-brand {
    margin: 0 2rem;
    font-size: 1rem;
    font-weight: 600;
}
.card-course-item {
    margin-right: 21px;
    margin-bottom: 16px;
    display: inline-flex;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.list-group h5 {
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.list-group a {
    color: #666;
    font-size: 1rem;
    text-decoration: none;
}
.list-group-item:hover .list-group-link {
    display: block;
    color: orangered;
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
}

// Img home
.carousel-inner img {
    width: 100%;
}
.carousel-caption {
    position: absolute;
    top: 20%;
}
.carousel-caption h1 {
    font-size: 400%;
    font-weight: 500;

    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
}
.carousel-caption h5 {
    font-size: 150%;
    text-shadow: 2px 2px 10px #000;
}
.carousel-caption button {
    margin: 20px;
}
.btn-primary {
    background-color: rgb(82, 64, 120);
    border: 1px solid white;
}
.btn-primary:hover {
    background-color: rgb(62, 64, 100);
    border: 1px solid white;
}
.welcom h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.welcom hr {
    border-top: 2px solid #999;
    width: 100%;
    margin-bottom: 2rem;
}
.fa-react {
    font-size: 4rem;
    margin: 1rem;
    color: #81d8f7;
}
.fa-angular {
    font-size: 4rem;
    margin: 1rem;
    color: rgb(177, 43, 55);
}
.fa-css3 {
    font-size: 4rem;
    margin: 1rem;
    color: #d76537;
}

.button-learnNow {
    width: 180px;
    height: 40px;

    border-radius: 10px;
    border: none;

    cursor: pointer;
    color: white;
    background-color: #369f39;

    font-weight: 500;
    margin: 10px 0 15px;
}
.CourseDetail button:focus {
    outline: none;
}
.CourseDetail {
    margin-bottom: 28px;
    background: #f5f5f5;
    padding: 20px 10px 20px 15px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CourseDetail img {
    width: 135px;
    height: 135px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0 auto;
}
.CourseDetail h5 {
    margin: 10px;
}
.CourseDetail_rating {
    margin-bottom: 20px;
    color: rgb(255, 180, 0);
}
.CourseDetail ul {
    padding: 0;
}
.CourseDetail li {
    list-style: none;
    margin-bottom: 10px;
    color: #444;
}
.CourseDetail i {
    padding-right: 10px;
}

.CourseDetail-courseShortInfo {
    margin-top: 40px;
    display: flex;
}
.CourseDetail-courseShortInfo li {
    list-style: none;

    width: 33.33333%;
    text-align: center;
    margin-bottom: 50px;
}
.CourseDetail-courseShortInfo i {
    font-size: 30px;
    color: rgba(240, 81, 35, 0.6);
}

.CourseDetail-courseShortInfo p {
    font-size: 1.1rem;
    margin-top: 12px;
    margin-bottom: 8px;
}

.footer {
    background-color: rgba(82, 64, 120, 0.9);
    color: white;
}
.btn-registration {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;

    width: 120px;
    height: 38px;

    display: flex;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 500;
}
.col-md-3,
.col-md-2 {
    margin: 50px 0;
}

.col-md-3 input {
    outline: none;
    border: none;
    border-radius: 20px;

    width: 100%;
    height: 38px;

    margin-top: 20px;
    padding: 20px;
}
