@import 'variables';

// On Scroll Header
.navbar {
    // position: fixed;
    width: 100%;
    left: 0;
    z-index: 24;
}
// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }

.container {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
}

.fullStack-logo {
    width: 145px;
    height: 35px;
}
.navbar-brand {
    margin: 0 2rem;
    font-size: 1rem;
    font-weight: 600;
}
.card-course-item {
    margin-right: 21px;
    margin-bottom: 16px;
    display: inline-flex;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.list-group h5 {
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.list-group a {
    color: #666;
    font-size: 1rem;
    text-decoration: none;
}
.list-group-item:hover .list-group-link {
    display: block;
    color: orangered;
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
}

// Img home
.img-home {
    position: relative;
    width: 100%;
}

// .overlay-img {
//   // display: none;
//   position: fixed;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: rgb(0, 0, 0);
//   background-color: rgba(0, 0, 0, 0.4);
// }

.button-learnNow {
    width: 180px;
    height: 40px;

    border-radius: 10px;
    border: none;

    cursor: pointer;
    color: white;
    background-color: #369f39;

    font-weight: 500;
    margin: 10px 0 15px;
}

.CourseDetail {
    margin-bottom: 28px;
    background: #f5f5f5;
    padding: 20px 10px 20px 15px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CourseDetail img {
    width: 135px;
    height: 135px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0 auto;
}
.CourseDetail h5 {
    margin: 10px;
}
.CourseDetail_rating {
    margin-bottom: 20px;
    color: rgb(255, 180, 0);
}
.CourseDetail ul {
    padding: 0;
}
.CourseDetail li {
    list-style: none;
    margin-bottom: 10px;
    color: #444;
}
.CourseDetail i {
    padding-right: 10px;
}

.CourseDetail-courseShortInfo {
    margin-top: 40px;
    display: flex;
}
.CourseDetail-courseShortInfo li {
    list-style: none;

    width: 33.33333%;
    text-align: center;
    margin-bottom: 50px;
}
.CourseDetail-courseShortInfo i {
    font-size: 30px;
    color: rgba(240, 81, 35, 0.6);
}

.CourseDetail-courseShortInfo p {
    font-size: 1.1rem;
    margin-top: 12px;
    margin-bottom: 8px;
}
