@import 'variables';

html,
body {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    left: 0;
    background-color: #000 !important;
    z-index: 24;
}
.NavBar_themeMainMenu {
    margin: 0 0 0 4rem;
}
.NavBar_themeMainMenu .nav-item {
    margin: 0 2rem 0 0;
}
.container .navbar-brand,
.nav-link {
    color: white !important;
    padding: 0;
}
.nav-item .nav-link {
    font-size: 1rem;
    font-weight: 600;
}
.nav-link.dropdown-toggle:hover {
    cursor: pointer;
}
.navbar-branch img {
    width: 150px;
    height: 40px;
}
.container {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
}

.card-course-item {
    position: relative;
    width: 17rem;
    height: 34rem;
    margin-right: 21px;
    margin-bottom: 40px;
    display: inline-flex;
}
.card-course-item a {
    position: relative;
    overflow: hidden;
}
.card-img-top {
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.card-img-top:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
.user-frofile-icon {
    margin-left: -6px;
    margin-right: 4px;
}
.dropdown-menu {
    top: 30px;
    left: -24px;
}

.list-group h5 {
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.list-group a {
    color: #666;
    font-size: 1rem;
    text-decoration: none;
}
.list-group-item:hover .list-group-link {
    display: block;
    color: orangered;
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
}

// Img home
.carousel-inner img {
    width: 100%;
}
.carousel-caption {
    position: absolute;
    top: 20%;
}
.carousel-caption h1 {
    font-size: 400%;
    font-weight: 500;

    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
}
.carousel-caption h5 {
    font-size: 150%;
    text-shadow: 2px 2px 10px #000;
}
.carousel-caption button {
    margin: 20px;
}
.btn.btn-primary.btn-course-free {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.btn-primary {
    background-color: #f05123;
    border: 1px solid white;
}
.carousel-caption .btn-primary:hover {
    background-color: white;
    color: #f05123;
    border: 1px solid white;
}
.carousel-caption .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    background-color: white !important;
    color: #f05123 !important;
}
.welcom h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.welcom hr {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 2rem;
}
.tonton-maxim-live {
    color: #666666;
    font-style: italic;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 2rem;
    quotes: '\201C''\201D';
}
.btn.btn-primary.btn-register-course {
    width: 150px;
}
.btn.btn-primary.btn-register-course:hover {
    transform: translate3d(0, -2px, 0);
    -webkit-transform: translate3d(0, -2px, 0);
}
.btn-register-course .btn-text {
    font-weight: 600;
    font-size: 0.85714286em;
}
// Courses Show
.card-body a {
    text-decoration: none;
}
.card-title {
    color: #444;
}
.card-title:hover {
    color: #f47425;
}

.button-learnNow {
    width: 180px;
    height: 40px;

    border-radius: 10px;
    border: none;

    cursor: pointer;
    color: white;
    background-color: #f05123;

    font-weight: 500;
    margin: 10px 0 15px;
}
.CourseDetail button:focus {
    outline: none;
}
.CourseDetail {
    margin-bottom: 28px;
    background: #f5f5f5;
    padding: 20px 10px 20px 15px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CourseDetail img {
    width: 135px;
    height: 135px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 0 auto;
}

.CourseDetail_rating {
    margin-bottom: 20px;
    color: rgb(255, 180, 0);
}
.CourseDetail ul {
    padding: 0;
}
.CourseDetail li {
    list-style: none;
    margin-bottom: 10px;
    color: #444;
}
.CourseDetail i {
    padding-right: 10px;
}

.CourseDetail-courseShortInfo {
    margin-top: 40px;
    display: flex;
}
.CourseDetail-courseShortInfo li {
    list-style: none;

    width: 33.33333%;
    text-align: center;
    margin-bottom: 50px;
}
.CourseDetail-courseShortInfo i {
    font-size: 30px;
    color: rgba(240, 81, 35, 0.6);
}

.CourseDetail-courseShortInfo p {
    font-size: 1.1rem;
    margin-top: 12px;
    margin-bottom: 8px;
}

.CourseDetail_topicList ul {
    padding: 0;
    margin: 0;
}
.CourseDetail_topicList li {
    list-style: none;
    margin: 6px 0;
}
.CourseDetail_topicList i {
    color: #f05123;
}
.CourseDetail_topicList-row {
    display: flex;
    justify-content: space-around;
}
.Comment_contentHeading {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    position: relative;
    width: 100%;
    min-height: 100px;
}
.Comment_contentHeading a {
    text-decoration: none;
}
.Comment_contentHeading h4 {
    margin: 0;
}
.Comment_contentHeading i {
    font-size: 24px;
    margin-left: 10px;
}
// Footer
.footer {
    background-color: #000000;
    color: white;
}
.footer.container {
    display: flex;
}
.btn-registration {
    background-color: #f05123;
    color: white;
    border-radius: 20px;
    margin-top: 10px;

    width: 120px;
    height: 38px;

    display: flex;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 500;
}
.footer-introduce-link:hover {
    color: #f05123;
}
.btn-registration:hover {
    color: #f05123;
    background-color: white;
}
.col-md-3 p {
    font-size: 16px;
    line-height: 22px;
    color: hsla(0, 0%, 100%, 0.7);
}

.col-md-2 ul,
.col-md-2 a {
    padding: 0;
    margin: 0;
    line-height: 30px;
    list-style-type: none;
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.7);
}
.col-md-3 img {
    width: 200px;
    height: 60px;
}
.col-md-3 input {
    outline: none;
    border: none;
    border-radius: 20px;

    width: 100%;
    height: 38px;

    margin-top: 20px;
    padding: 20px;
}
// Stored-courses
.checkbox-select-all-options {
    width: 140px;
    margin: 0 16px;
}

.trash-can,
.list-courses {
    color: #333;
    float: right;
}
.trash-can:hover,
.list-courses:hover {
    text-decoration: none;
    color: #f05123;
}

.error-img {
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}
