@media (max-width: 1024px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h5 {
        font-size: 120%;
    }
    .carousel-caption.btn {
        font-size: 100%;
    }
    .nav-item-none {
        display: none;
    }
}
@media (max-width: 768px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h5 {
        font-size: 100%;
    }
    .carousel-caption.btn {
        font-size: 90%;
    }
}
@media (max-width: 576px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 100%;
    }
    .carousel-caption h5 {
        font-size: 50%;
    }
    .carousel-caption .btn {
        font-size: 30%;
    }
}
