<footer class="footer page-footer font-small blue pt-4">
    <div class="container text-md-left">
        <div class="row">
            <div class="col-md-3 mt-4">
                <img src="/img/logo-web.png" alt="" class="mb-4">
                <p>TonTon là nơi học lập trình miễn phí.</p>
                <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
                <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                <p class="mt-5">© 2020 TonTon. Tất cả bản quyền được bảo lưu.</p>
            </div>
            <div class="col-md-2 mt-5">
                <h4 class="mb-4">TonTon</h4>
                <ul>
                    <li>
                        <a href="">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2 mt-5">
                <h4 class="mb-4">Sản phẩm</h4>
                <ul>
                    <li>
                        <a href="">Shopee-clone</a>
                    </li>
                    <li>
                        <a href="">Muzli-clone</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mt-5">
                <h4 class="mb-4">Hỗ trợ</h4>
                <ul>
                    <li>
                        <a href="">Hỗ trợ</a>
                    </li>
                    <li>
                        <a href="">Đóng góp</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mt-5">
                <h4 class="mb-4">Theo dõi chúng tôi</h4>
                <p>Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ TonTon</p>
                <input type="text" placeholder="Email của bạn...">
                <button type="button" class="btn btn-registration btn-lg">
                    ĐĂNG KÝ
                </button>
            </div>
        </div>
    </div>
</footer>