<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-branch" href="/">
            <img src="/img/logo-web.png">
        </a>

        <ul class="navbar-nav mr-auto NavBar_themeMainMenu">
            <li class="nav-item">
                <a class="nav-link" href="/">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses">KHÓA HỌC</a>
            </li>
            <li class="nav-item nav-item-none">
                <a class="nav-link" href="/news">TIN TỨC</a>
            </li>
        </ul>


        {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://avatars2.githubusercontent.com/u/67463412?s=60&v=4" alt=""
                            class="user-avatar">
                        TonTon
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                        <a class="dropdown-item" href="/me/trash/courses">Thùng rác của tôi</a>
                        <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>

        </div> --}}

        {{#if user}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src={{user.avatar}} class="user-avatar">
                        {{user.username}}
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/settings">
                            <i class="user-frofile-icon fas fa-cog"></i>
                            Cài đặt
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item logout" href="/user/logout">
                            <i class="user-frofile-icon fas fa-sign-out-alt"></i>
                            Đăng xuất
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        {{else}}
        <ul class="navbar-nav NavBar_themeMainMenu">
            <li class="nav-item" style="margin: 0; border-right: 1px solid #555">
                <a class="nav-link" href="/user/login">Đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/register">Đăng ký</a>
            </li>
        </ul>
        {{/if}}
    </div>
</nav>