<nav id="myHeader" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-branch" href="/">
            <img src="https://www.tonton-andre.com/wp-content/uploads/2020/07/cropped-Tonton-Andre%CC%81-logo-Jaune-Gris.png"
                alt="" class="fullStack-logo" height="50">
        </a>
        <a class="navbar-brand" href="/" style="color: white">TRANG CHỦ</a>
        <a class="navbar-brand" href="/courses" style="color: white">KHÓA HỌC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                        <img src="https://avatars2.githubusercontent.com/u/67463412?s=60&v=4" alt=""
                            class="user-avatar">
                        TonTon
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                        <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>