<div class="container mt-4 mb-4">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Đăng nhập</h1>
                <form action="/user/login" method="POST">
                    <div class="form-group">
                        <label for="username">Tên người dùng</label>
                        <input type="username" id="username" name="username" class="form-control"
                            placeholder="Nhập tên người dùng" />
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Nhập mật khẩu" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                </form>
                <p class="lead mt-4">
                    Bạn chưa có tài khoản? <a href="/user/register">Đăng ký</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function login() {
        $.ajax({
            url: "/user/login",
            type: "POST",
            data: {
                username: $("#username").val(),
                password: $("#password").val(),
            }
        }).then(data => {
            setCookie("token", data.token, 1);
        }).catch(err => {
            console.log(err);
        })
    }
</script>