<div class="container mt-5 mb-5">
    <div class="row">
        {{#if user}}
        <div class="col-lg-4">
            <div class="d-flex">
                <img class="rounded mr-2 mb-5" src="http://localhost:3000/uploads/altumcode-dMUt0X3f59Q-unsplash.jpg"
                    style="width: 69px; height: 69px">
                <h5>{{user.username}}</h5>
            </div>
            <a href=""
                style="cursor: pointer; text-decoration: none; color: #333; font-weight: 500; font-size: 1.2rem">Tài
                khoản</a>
        </div>
        {{/if}}
        <div class="col-lg-6">
            <h2 class="mb-4" style="font-weight: 500; font-size: 2.4rem">Cài đặt</h2>
            <div class="dropdown-divider"></div>
            <a href="" class="d-flex pt-2 pb-2" style="cursor: pointer; text-decoration: none; color: #333">
                <i class="fas fa-id-card d-flex align-items-center mr-4" style="font-size: 2.4rem"></i>
                <div style="flex: 1 1">
                    <h5>Tài khoản</h5>
                    <p style="margin: 0">Thông tin đăng nhập, thông tin cá nhân</p>
                </div>
                <i class="fas fa-chevron-right d-flex align-items-center"></i>
            </a>
            <div class="dropdown-divider"></div>
        </div>

    </div>
</div>