{{#if user}}
<div class="container mt-5" style="min-height: 100vh">
    <div class="row">
        <div class="col-lg-4">
            <a href="/" class="d-flex" style="cursor: pointer; text-decoration: none; color: #333">
                <img class="rounded mr-3 mb-5" src="/{{user.avatar}}" style="width: 69px; height: 69px">
                <h5>{{user.username}}</h5>
            </a>
        </div>

        <div class="col-lg-6">
            <h2 class="mb-4" style="font-weight: 500; font-size: 2.4rem">Cài đặt</h2>
            <div class="dropdown-divider"></div>
            <a href="/user/settings/accounts" class="d-flex pt-2 pb-2"
                style="cursor: pointer; text-decoration: none; color: #333">
                <i class="fas fa-id-card d-flex align-items-center mr-4" style="font-size: 2.4rem"></i>
                <div style="flex: 1 1">
                    <h5>Tài khoản</h5>
                    <p style="margin: 0">Thông tin đăng nhập, thông tin cá nhân</p>
                </div>
                <i class="fas fa-chevron-right d-flex align-items-center"></i>
            </a>
            <div class="dropdown-divider"></div>
        </div>
    </div>
</div>
{{/if}}